{% for elemt in feature_selected %}
<div class="analytics-sparkle-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <H5> Average Influenza Per Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_mean_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_mean_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                        <H5> Minimum Influenza in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_min_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_influenza}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_min_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_death_influenza}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                                        <br>
                    <div class="analytics-content">
                        <H5> Maximum Influenza in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_max_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_influenza}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.influenza_max_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_death_influenza}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-5 col-sm-4 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
<div class="analytics-content">
                        <H5> Average Diarrhoea Per Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_mean_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_mean_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                        <H5> Minimum Diarrhoea in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_min_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_diarrhoea}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_min_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_death_diarrhoea}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                                        <br>
                    <div class="analytics-content">
                        <H5> Maximum Diarrhoea in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_max_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_diarrhoea}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.diarrhoea_max_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_death_diarrhoea}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                    <div class="analytics-content">
                        <H5> Average Dengue Fever Per Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_mean_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_mean_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                                Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                        <H5> Minimum Dengue Fever in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_min_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_dengue}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_min_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_min_death_dengue}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                                        <br>
                    <div class="analytics-content">
                        <H5> Maximum Dengue Fever in a Year

                        </H5>
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_max_cases)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_dengue}} - Cases
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>
                    <br>
                    <div class="analytics-content">
                            <!-- print("{:.2f}".format(3.1415926)) -->
                        <h2><span class="counter">{{"{:,}".format(elemt.dengue_max_deaths)}}</span>
                        <span class="tuition-fees">
                            <b>
                               {{elemt.year_max_death_dengue}} - Deaths
                            </b>
                        </span>
                        </h2>
                        <!-- <span class="text-success">20%</span> -->
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">20%
                                    Complete</span> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}