<div class="courses-area mg-b-15" id='climate_comp_${name}'>
	<div class="container-fluid">
		<div class="row">
			<!-- pie chart  -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="white-box">
					<span class="box-title" id="pie_climate_year_${order}"></span>
					<div class="pie_climate_y_${order}" id="pie_climate_y_${order}">
						<!-- chart in here  -->
					</div>
				</div>
			</div>
			<!-- end pie chart  -->
			<!-- line chart year  -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="white-box res-mg-t-30 table-mg-t-pro-n">
					<span class="box-title" id="climate_pro_year_${order}"></span>
					<div id="climate_pro_y_${order}" class="climate_pro_y_${order}">
						<!-- chart in here  -->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end -->
<div class="product-sales-area mg-tb-30" id='date1_comp_${name}'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="product-sales-chart">
					<div class="portlet-title">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="caption pro-sl-hd">
									<span class="caption-subject" id="title_date1_comp_${order}"><b></b></span>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="actions graph-rp graph-rp-dl">

								</div>
							</div>
						</div>
					</div>
					<div class="climate_date1_comp_${order}" id="climate_date1_comp_${order}"
						style="height: auto;width:auto">
					</div>
				</div>
			</div>
			<!-- end line chart year  -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="white-box res-mg-t-30 table-mg-t-pro-n">
					<span class="box-title" id="climate_pro_month_${order}"></span>
					<div id="climate_pro_m_${order}" class="climate_pro_m_${order}">
						<!-- chart in here  -->
					</div>
				</div>
			</div>
			<!-- end line chart month  -->
		</div>
	</div>
</div>

<div class="courses-area mg-b-15" id='linear_comp_climate_${name}'>
	<div class="container-fluid">
		<div class="row">
			<!-- pie chart  -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="white-box">
					<span class="box-title" id="linear_climate_year_${order}"></span>
					<div class="linear_climate_y_${order}" id="linear_climate_y_${order}"
						style="width:auto;height:auto">
						<!-- chart in here  -->
					</div>
				</div>
			</div>
			<!-- end pie chart  -->
			<!-- line chart year  -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="white-box res-mg-t-30 table-mg-t-pro-n">
					<span class="box-title" id="linear_title_month_${order}"></span>
					<div id="linear_climate_month_${order}" class="linear_climate_month_${order}"
						style="width:auto;height:auto">
						<!-- chart in here  -->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>